h1, h2 {
    text-align: center
}

.pogaSakt {
    background-color: gray;
    color: white;
    display: inline-block; /* pogas attelojums */
    width: 180px;
    margin: 100px 0 0 0;
    position: relative;
    margin: 100px 0 0 0;
    height: 100%;
    cursor: pointer;
    height: 30px;
    border-radius: 5px; /* apaļi stūri */
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;

}
.pogaTurpinat{

    background-color: gray;
    color: white;
    /*display: inline-block; !* pogas attelojums *!*/
    width: 180px;
    height: 100%;
    margin-top: 50px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px; /* apaļi stūri */
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;

}

/* novietojums lapā */
#forma1 {
    text-align: center;
}

/* pats elements */
#vards {
    width: 180px;
    height: 30px;
    text-align: center;
}

/* iekopetais */

#uzLapu2{
    text-align: center;
}
#uzLapu3{
    position: absolute;
}
#galaLapa{
    text-align: center;
}
#Atb1_1_1 {
    background-color: gray;
    color: white;
    display: inline-block; /* pogas attelojums */
    width: 5%;
    position: absolute;
    left: 40%;
    top: 25%;
    cursor: pointer; /* kāds kursors uzbīdot peli */
    height: 30px;
    border-radius: 5px; /* apaļi stūri */
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;

}

.AtbHover:hover{
    background: #f23548;
}
.turpinatHover:hover{
    background: #12e6ff;
}
#izvele{
    width: 180px;
    height: 30px;
}
.poga {
    background-color: gray;
    color: white;
    display: inline-block; /* pogas attelojums */
    width: 5%;
    position: relative;
    margin: 75px 50px 0 50px;
    height: 100%;
    cursor: pointer; /* kāds kursors uzbīdot peli */
    height: 30px;
    border-radius: 5px; /* apaļi stūri */
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;

}
.visasPogas{
    text-align: center;
}
.prog{
    text-align: center;
    margin-top: 100px;
}